SELECT phase_number, title, start_date, end_date, evaluation_available_from, evaluation_due_date FROM project_phases WHERE project_id = (SELECT id FROM projects WHERE title = 'final' LIMIT 1) ORDER BY phase_number;
